.container {
    border: 1px solid black;
    width: 100%;
}
.my-groups{
    max-height: 20rem;
    margin: 1%;
    width: 70%;
    display: inline-block;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}
.my-card {
    max-width: 20rem;
    min-width: 10em;
    width: 32%;
    height: 12.5rem;
    margin: 0.75%;
    box-sizing: border-box;
    display: inline-block;
    white-space: normal;
    overflow-y:scroll;
}
.other-groups {
    border: 1px solid black;
    margin: 1%;
    width: 70%;
    overflow: auto;
}
.other-card {
    max-width: 20rem;
    min-width: 10em;
    width: 31%;
    border: 1px solid black;
    margin: 0.75%;
    box-sizing: border-box;
    float: left;
    overflow: auto;
}