.group-container {
    border: 1px solid black;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.my-groups{
    border: 1px solid black;
    max-height: 20rem;
    margin: 1%;
    width: 70%;
    display: inline-block;
    /* white-space: nowrap;
    overflow-x: scroll; */
    overflow-y: scroll;
    box-sizing: border-box;
}
/* h2 {
    position:;
} */
.my-card {
    border: 1px solid black;
    min-width: 10em;
    width: 31.75%;
    height: 13rem;
    margin: 0.75%;
    box-sizing: border-box;
    display: inline-block;
    white-space: normal;
    overflow-y:auto;
}
.other-groups {
    border: 1px solid black;
    margin: 1%;
    overflow: auto;
}
.other-card {
    border: 1px solid black;
    min-width: 10em;
    height: 13rem;
    width: 31.75%;
    margin: 0.75%;
    box-sizing: border-box;
    float: left;
    overflow: auto;
}