.group-desc {
    width: 50%;
    margin: auto;
}

.group-profile {
    align-content: center;
}


.card-header {
    display: flex;
    justify-content: space-between;
}

p span {
    display: inline-block;
}